
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>新規登録完了のご連絡</h1>
      <p>
      <%= @user.name %>様 会員登録が完了しました。<br>
    </p>
  </body>
</html>